In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('imdb.title.ratings.csv.gz')

In [3]:
df.head(3)

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20

In [4]:
df.tail(5)

          tconst  averagerating  numvotes
73851  tt9805820            8.1        25
73852  tt9844256            7.5        24
73853  tt9851050            4.7        14
73854  tt9886934            7.0         5
73855  tt9894098            6.3       128

In [7]:
df = pd.read_csv('bom.movie_gross.csv.gz')

In [8]:
df.head(3)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010

In [9]:
df.tail(5)

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [10]:
df = pd.read_csv('imdb.title.basics.csv.gz')

In [12]:
df.head(3)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama

In [8]:
import pandas as pd
df = pd.read_csv('bom.movie_gross.csv.gz')
df.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [9]:
print(df)

                                            title      studio  domestic_gross  \
0                                     Toy Story 3          BV     415000000.0
1                      Alice in Wonderland (2010)          BV     334200000.0
2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
3                                       Inception          WB     292600000.0
4                             Shrek Forever After        P/DW     238700000.0
...                                           ...         ...             ...
3382                                    The Quake       Magn.          6200.0
3383                  Edward II (2018 re-release)          FM          4800.0
3384                                     El Pacto        Sony          2500.0
3385                                     The Swan  Synergetic          2400.0
3386                            An Actor Prepares       Grav.          1700.0

     foreign_gross  year
0        652000000  2010
1        691300000  2010
2        664300000  2010
3        535700000  2010
4        513900000  2010
...            ...   ...
3382           NaN  2018
3383           NaN  2018
3384           NaN  2018
3385           NaN  2018
3386           NaN  2018

[3387 rows x 5 columns]

In [77]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
html_page = requests.get('https://www.the-numbers.com/market/genres') #Make a request to retrieve the page
pd.read_html(html_page.text)

[    Rank                Genre  Movies Total Box Office     Tickets   Share
 0      1            Adventure    1066  $64,001,503,244  9164697427  27.31%
 1      2               Action    1044  $47,382,716,974  6713382234  20.22%
 2      3                Drama    5381  $36,553,463,239  5611024748  15.60%
 3      4               Comedy    2373  $34,518,271,413  5307865492  14.73%
 4      5    Thriller/Suspense    1142  $20,012,264,504  2891232957   8.54%
 5      6               Horror     639  $12,210,394,255  1764485285   5.21%
 6      7      Romantic Comedy     606   $9,992,711,819  1607346807   4.26%
 7      8              Musical     189   $4,108,333,804   542440825   1.75%
 8      9          Documentary    2356   $2,241,568,251   336532152   0.96%
 9     10         Black Comedy     193   $1,626,100,061   227572268   0.69%
 10    11              Western      84   $1,151,006,490   165133802   0.49%
 11    12  Concert/Performance      76     $396,337,577    54011544   0.17%
 12    13      Multiple Genres      44      $37,120,606     4447815   0.02%
 13    14              Reality       4         $621,696       73810   0.00%]

In [81]:
df=pd.read_html(html_page.text,index_col=0)[0]
df

                    Genre  Movies Total Box Office     Tickets   Share
Rank
1               Adventure    1066  $64,001,503,244  9164697427  27.31%
2                  Action    1044  $47,382,716,974  6713382234  20.22%
3                   Drama    5381  $36,553,463,239  5611024748  15.60%
4                  Comedy    2373  $34,518,271,413  5307865492  14.73%
5       Thriller/Suspense    1142  $20,012,264,504  2891232957   8.54%
6                  Horror     639  $12,210,394,255  1764485285   5.21%
7         Romantic Comedy     606   $9,992,711,819  1607346807   4.26%
8                 Musical     189   $4,108,333,804   542440825   1.75%
9             Documentary    2356   $2,241,568,251   336532152   0.96%
10           Black Comedy     193   $1,626,100,061   227572268   0.69%
11                Western      84   $1,151,006,490   165133802   0.49%
12    Concert/Performance      76     $396,337,577    54011544   0.17%
13        Multiple Genres      44      $37,120,606     4447815   0.02%
14                Reality       4         $621,696       73810   0.00%

In [51]:
soup = BeautifulSoup(html_page.content, 'html.parser') #Pass the page contents to beautiful soup for parsing

In [52]:
soup.prettify

<bound method Tag.prettify of <!DOCTYPE html>

<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1343128-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1343128-1');
</script>
<meta content='(PICS-1.1 "https://www.icra.org/ratingsv02.html" l gen true for "https://www.the-numbers.com/" r (cb 1 lz 1 nz 1 oz 1 vz 1) "https://www.rsac.org/ratingsv01.html" l gen true for "https://www.the-numbers.com/" r (n 0 s 0 v 0 l 0))' http-equiv="PICS-Label"/>
<!--<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" >-->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="telephone=no" name="format-detection"/> <!-- for apple mobile -->
<meta content="521546213" property="fb:admins">
<meta content="initial-scale=1" name="viewport"/>
<meta content="Genres Movie Breakdown 1995-2020" name="description"/>
<meta content="NOODP" name="robots"/>
<meta content="movies, box office, The Numbers, Numbers, daily box office, weekly box office, movie stars, dvd sales, Blu-ray sales, release schedule" name="keywords"/>
<meta content="Genres Movie Breakdown 1995-2020" property="og:title"/>
<meta content="article" property="og:type"/>
<meta content="https://www.the-numbers.com/market/genres" property="og:url"/>
<meta content="Genres Movie Breakdown 1995-2020" property="og:description"/>
<meta content="The Numbers" property="og:site_name"/>
<meta content="https://www.the-numbers.com/images/the-numbers-833x200.jpg" property="og:image"/>
<meta content="833" property="og:image:width"/>
<meta content="200" property="og:image:height"/>
<meta content="The-Numbers Image" property="og:image:alt"/>
<meta content="summary_large_image" name="twitter:card"/>
<meta content="@MovieNumbers" name="twitter:site"/>
<meta content="Genres Movie Breakdown 1995-2020" name="twitter:title"/>
<meta content="Genres Movie Breakdown 1995-2020" name="twitter:description"/>
<meta content="https://www.the-numbers.com/market/genres" name="twitter:url"/>
<meta content="https://www.the-numbers.com/images/the-numbers-833x200.jpg" name="twitter:image"/>
<meta content="1585976611658631" property="fb:app_id"/>
<title>Genres Movie Breakdown 1995-2020</title>
<link href="/resources/the-numbers-desktop-combined.css" rel="stylesheet" type="text/css"/>
<link href="https://m.the-numbers.com/market/genres" media="only screen and (max-width: 640px)" rel="alternate"/>
<script type="text/javascript">
	if (screen.width <= 640)
	{
        window.location = "https://m.the-numbers.com/market/genres";
    }
</script>
<!-- Begin comScore Tag -->
<script async="">
var _comscore = _comscore || [];
_comscore.push({ c1: "2", c2: "9873768" });
(function() {
 var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
 s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
 el.parentNode.insertBefore(s, el);
 })();
</script>
<noscript>
<img src="https://b.scorecardresearch.com/p?c1=2&amp;c2=9873768&amp;cv=2.0&amp;cj=1"/>
</noscript>
<!-- End comScore Tag -->
<!-- Header Tag Code -->
<script data-cfasync="false" type="text/javascript">
/*<![CDATA[*/(function (a, c, s, u){'Insticator'in a || (a.Insticator={ad:{loadAd: function (b){Insticator.ad.q.push(b)}, q: []}, helper:{}, embed:{}, version: "3.0", q: [], load: function (t, o){Insticator.q.push({t: t, o: o})}}); var b=c.createElement(s); b.src=u; b.async=!0; var d=c.getElementsByTagName(s)[0]; d.parentNode.insertBefore(b, d)})(window, document, 'script', '//d2na2p72vtqyok.cloudfront.net/client-embed/65b21a35-f662-4947-80ea-07d6b99277bf.js');/*
]]>*/
</script>
<!-- End Header Tag Code -->
<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-0505053220181058",
          enable_page_level_ads: true
     });
</script>
</meta></head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1585976611658631',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="wrap">
<div id="header">
<a href="/"><img alt="The Numbers - Where Data and Movies Meet" border="0" height="67" src="/images/the-numbers-banner.png" width="524"/>®
<br/>    Where Data and the Movie Business Meet
</a>
</div>
<div id="header_right" style="background: #663366; width:200px; height: 96px;">
<div style="float:right;">
Follow us on
<a href="https://www.facebook.com/TheNumbers" target="_blank"><img height="32" src="https://www.the-numbers.com/images/icons/facebook.png" style="border:none;" title="Follow The Numbers on Facebook" width="32"/></a>
<a href="https://www.twitter.com/MovieNumbers" target="_blank" title="Follow The Numbers on Twitter"><img height="32" src="https://www.the-numbers.com/images/icons/twitter.png" style="border:none;" width="32"/></a>
</div>
</div>
<div id="nav">
<ul>
<li><a href="/news">News</a>
<ul>
<li><a href="/news">Latest News</a></li>
<li><a href="/rss-feed">RSS Feed</a></li>
<li><a href="/movies/release-schedule">Release Schedule</a></li>
<li><a href="/on-this-day">On This Day</a></li>
<li><a href="/oscars">Oscars</a></li>
</ul>
</li>
<li><a href="/box-office">Box Office</a>
<ul>
<li><a href="/daily-box-office-chart">Daily Chart</a></li>
<li><a href="/weekend-box-office-chart">Weekend Chart</a></li>
<li><a href="/weekly-box-office-chart">Weekly Chart</a></li>
<li><a href="/market/">Theatrical Market</a></li>
<li><a href="/international-charts-overview">International Charts</a></li>
<li><a href="/box-office-records/">Records</a></li>
<li><a href="/box-office">Chart Index</a></li>
<li><a href="/movies/release-schedule">Release Schedule</a></li>
<li><a href="/box-office-records/domestic/all-movies/cumulative/released-in-2020">2020 Domestic</a></li>
<li><a href="/box-office-records/worldwide/all-movies/cumulative/released-in-2020">2020 Worldwide</a></li>
</ul>
</li>
<li><a href="/weekly-dvd-sales-chart">Home Video</a>
<ul>
<li><a href="/weekly-dvd-sales-chart">Weekly DVD Chart</a></li>
<li><a href="/weekly-bluray-sales-chart">Weekly Blu-ray Chart</a></li>
<li><a href="/weekly-video-sales-chart">Weekly Combined DVD+Blu-ray Chart</a></li>
<li><a href="/weekly-deg-watched-at-home-chart">DEG Watched at Home Top 20 Chart</a></li>
<li><a href="/netflix-top-10">Netflix Daily Top 10</a></li>
<li><a href="/home-market/dvd-sales/2020">2020 DVD Chart</a></li>
<li><a href="/home-market/bluray-sales/2020">2020 Blu-ray Chart</a></li>
<li><a href="/home-market/packaged-media-sales/2020">2020 Combined Chart</a></li>
<li><a href="/alltime-bluray-sales-chart">All-Time Blu-ray</a></li>
<li><a href="/home-market/release-schedule">Release Schedule</a></li>
<li><a href="/home-market/distributors">Distributors</a></li>
</ul>
</li>
<li><a href="/movies">Movies</a>
<ul>
<li><a href="/movie/budgets">Budgets and Finances</a></li>
<li><a href="/movies/franchises">Franchises</a></li>
<li><a href="/movies/keywords">Keywords</a></li>
<li><a href="/movies">Movie Index</a></li>
<li><a href="/movies/release-schedule">Release Schedule</a></li>
<li><a href="/movies/most-anticipated">Most Anticipated</a></li>
<li><a href="/movies/trending">Trending Movies</a></li>
<li><a href="/movies/production-companies/">Production Companies</a></li>
<li><a href="/movies/production-countries/">Production Countries</a></li>
<li><a href="/movies/languages">Languages</a></li>
<li><a href="/movies/comparisons">Comparisons</a></li>
<li><a href="/movies/report-builder">Report Builder</a></li>
</ul>
</li>
<li><a href="/people-index">People</a>
<ul>
<li><a href="/bankability">Bankability</a></li>
<li><a href="/box-office-star-records/">Records</a></li>
<li><a href="/people-index">People Index</a></li>
<li><a href="/people/trending">Trending People</a></li>
<li><a href="/box-office-star-records/domestic/yearly-acting/highest-grossing-2020-stars">Highest Grossing Stars of 2020</a></li>
</ul>
</li>
<li><a href="/research-tools">Research Tools</a>
<ul>
<li><a href="/movies/report-builder">Report Builder</a></li>
<li><a href="/movies/keywords">Keyword Analysis</a></li>
<li><a href="/movies/custom-comparisons">Movie Comparison</a></li>
<li><a href="/custom-search">Search</a></li>
</ul>
</li>
<li><a href="/our-services">Our Services</a>
<ul>
<li><a href="/research-services">Research Services</a></li>
<li><a href="/data-services">Data Services</a></li>
<li><a href="/bankability">Bankability</a></li>
<li><a href="/about-us">About Us</a></li>
<li><a href="/support-us">Support Us</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</li>
<li><a href="/users/my-numbers">My Numbers</a>
<ul>
<li><a href="/users/register">Register</a></li>
<li><a href="/users/login">Login</a></li>
<li><a href="/users/forgot-password">Forgot Password</a></li>
</ul>
</li>
<li style="background: #ffcc00;"><a href="https://m.the-numbers.com/market/genres?from_desktop=Yes" rel="nofollow" style="background: #ffcc00;">Mobile Website</a></li>
<li><a href="/users/register">Register</a></li>
<li><a href="/users/login?backtopage=/market/genres">Login</a></li>
</ul>
</div></div></body></html>

<div id="banneradnew">
<center>
<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- header main -->
<ins class="adsbygoogle" data-ad-client="ca-pub-0505053220181058" data-ad-format="horizontal" data-ad-slot="6187906230" style="display:block"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></center>
</div>
<div id="main">
<div id="page_filling_chart">
<p>
<a href="/market">Market Charts</a> &gt; Genres
<iframe frameborder="0" height="360" name="/graphs/market/all-items/genre/genres/7/Genres" scrolling="no" src="/graphs/market/all-items/genre/genres/7/Genres" width="760">You need a Frames Capable browser to view this content.</iframe>
<b>Note:</b> Figures for 2020 are at an annualized rate.
<h1>Market Share for Each Genre 1995-2020</h1>
<center>
<table>
<tr><th>Rank</th><th>Genre</th><th>Movies</th><th>Total Box Office</th><th>Tickets</th><th>Share</th></tr>
<tr>
<td class="data">1</td>
<td><b><a href="/market/genre/Adventure">Adventure</a></b></td>
<td class="data">1,066</td>
<td class="data">$64,001,417,525</td>
<td class="data">9,164,688,017</td>
<td class="data">27.31%</td>
</tr>
<tr>
<td class="data">2</td>
<td><b><a href="/market/genre/Action">Action</a></b></td>
<td class="data">1,044</td>
<td class="data">$47,382,716,974</td>
<td class="data">6,713,382,234</td>
<td class="data">20.22%</td>
</tr>
<tr>
<td class="data">3</td>
<td><b><a href="/market/genre/Drama">Drama</a></b></td>
<td class="data">5,381</td>
<td class="data">$36,553,429,024</td>
<td class="data">5,611,020,993</td>
<td class="data">15.60%</td>
</tr>
<tr>
<td class="data">4</td>
<td><b><a href="/market/genre/Comedy">Comedy</a></b></td>
<td class="data">2,373</td>
<td class="data">$34,518,271,413</td>
<td class="data">5,307,865,492</td>
<td class="data">14.73%</td>
</tr>
<tr>
<td class="data">5</td>
<td><b><a href="/market/genre/Thriller-or-Suspense">Thriller/Suspense</a></b></td>
<td class="data">1,142</td>
<td class="data">$20,012,264,504</td>
<td class="data">2,891,232,957</td>
<td class="data">8.54%</td>
</tr>
<tr>
<td class="data">6</td>
<td><b><a href="/market/genre/Horror">Horror</a></b></td>
<td class="data">639</td>
<td class="data">$12,210,357,337</td>
<td class="data">1,764,481,233</td>
<td class="data">5.21%</td>
</tr>
<tr>
<td class="data">7</td>
<td><b><a href="/market/genre/Romantic-Comedy">Romantic Comedy</a></b></td>
<td class="data">606</td>
<td class="data">$9,992,711,819</td>
<td class="data">1,607,346,807</td>
<td class="data">4.26%</td>
</tr>
<tr>
<td class="data">8</td>
<td><b><a href="/market/genre/Musical">Musical</a></b></td>
<td class="data">189</td>
<td class="data">$4,108,333,804</td>
<td class="data">542,440,825</td>
<td class="data">1.75%</td>
</tr>
<tr>
<td class="data">9</td>
<td><b><a href="/market/genre/Documentary">Documentary</a></b></td>
<td class="data">2,356</td>
<td class="data">$2,241,568,251</td>
<td class="data">336,532,152</td>
<td class="data">0.96%</td>
</tr>
<tr>
<td class="data">10</td>
<td><b><a href="/market/genre/Black-Comedy">Black Comedy</a></b></td>
<td class="data">193</td>
<td class="data">$1,626,100,061</td>
<td class="data">227,572,268</td>
<td class="data">0.69%</td>
</tr>
<tr>
<td class="data">11</td>
<td><b><a href="/market/genre/Western">Western</a></b></td>
<td class="data">84</td>
<td class="data">$1,151,006,490</td>
<td class="data">165,133,802</td>
<td class="data">0.49%</td>
</tr>
<tr>
<td class="data">12</td>
<td><b><a href="/market/genre/Concert-or-Performance">Concert/Performance</a></b></td>
<td class="data">76</td>
<td class="data">$396,337,577</td>
<td class="data">54,011,544</td>
<td class="data">0.17%</td>
</tr>
<tr>
<td class="data">13</td>
<td><b><a href="/market/genre/Multiple-Genres">Multiple Genres</a></b></td>
<td class="data">44</td>
<td class="data">$37,120,606</td>
<td class="data">4,447,815</td>
<td class="data">0.02%</td>
</tr>
<tr>
<td class="data">14</td>
<td><b><a href="/market/genre/Reality">Reality</a></b></td>
<td class="data">4</td>
<td class="data">$621,696</td>
<td class="data">73,810</td>
<td class="data">0.00%</td>
</tr>
</table>
<br/>
</center></p></div>
<div id="page_filling_chart">
<p>Our Theatrical Market pages are based on the Domestic Theatrical Market performance only. The Domestic Market is defined as the North American movie territory (consisting of the United States, Canada, Puerto Rico and Guam).
<p>The yearly amounts on our Theatrical Market pages are based on box office years. Each box office year starts on the first Monday of the year, so the previous year ends on the Sunday before the first Monday. For example, the "2017 box office year" started on January 2, 2017 so the "2016 box office year" ended on Sunday, January 1, 2017.
</p></p></div>
<center>
<div id="rcjsload_7ce5b7"></div>
<script type="text/javascript">
(function() {
var referer="";try{if(referer=document.referrer,"undefined"==typeof referer)throw"undefined"}catch(exception){referer=document.location.href,(""==referer||"undefined"==typeof referer)&&(referer=document.URL)}referer=referer.substr(0,700);
var rcel = document.createElement("script");
rcel.id = 'rc_' + Math.floor(Math.random() * 1000);
rcel.type = 'text/javascript';
rcel.src = "https://trends.revcontent.com/serve.js.php?w=71375&t="+rcel.id+"&c="+(new Date()).getTime()+"&width="+(window.outerWidth || document.documentElement.clientWidth)+"&referer="+referer;
rcel.async = true;
var rcds = document.getElementById("rcjsload_7ce5b7"); rcds.appendChild(rcel);
})();
</script></center>
</div>
<div id="sidebar">
<h1>Quick Links</h1>
<ul style="display: inline-block;font-size: 100%;">
<li><a href="/weekly-deg-watched-at-home-chart">DEG Watched at Home Top 20</a></li>
<li><a href="/netflix-top-10">Netflix Daily Top 10</a></li>
<li><a href="/weekly-video-sales-chart">Weekly DVD+Blu-ray Chart</a></li>
<li><a href="/news/">News</a></li>
<li><a href="/movies/release-schedule">Release Schedule</a></li>
<li><a href="/daily-box-office-chart">Daily Box Office</a></li>
<li><a href="/weekend-box-office-chart">Weekend Box Office</a></li>
<li><a href="/weekly-box-office-chart">Weekly Box Office</a></li>
<li><a href="/market/2020/summary">Annual Box Office</a></li>
<li><a href="/box-office-records/">Box Office Records</a></li>
<li><a href="/international-charts-overview">International Box Office</a></li>
<li><a href="/market/distributors">Distributors</a></li>
<li><a href="/box-office-star-records/">People Records</a></li>
<li><a href="/people-ind">People Index</a></li>
<li><a href="/market/genres">Genre Tracking</a></li>
<li><a href="/movies/keywords">Keyword Tracking</a></li>
<li><a href="/movies/franchises">Franchises</a></li>
<li><a href="/research-tools">Research Tools</a></li>
<li><a href="/bankability">Bankability Index</a></li>
</ul>
<center>
<h1>Search</h1>
<form action="/custom-search" method="get">
<input name="searchterm" onkeyup="if (event.keyCode == 13) { this.form.submit(); return false; }" size="36" type="text" value=""/>
</form>
</center>
<br/>
<center>
<script type="text/javascript"><!--
e9 = new Object();
e9.size = "300x250";
//--></script>
<script src="//tags.expo9.exponential.com/tags/TheNumbers/ROS/tags.js" type="text/javascript"></script>
</center>
<h1><a class="inh1" href="/movies/most-anticipated">Most Anticipated Movies</a></h1>
<ul>
<li><a href="/movie/All-My-Life-(2020)#tab=summary">All My Life</a></li>
<li><a href="/movie/Uncle-Frank-(2020)#tab=summary">Uncle Frank</a></li>
<li><a href="/movie/Coming-2-America-(2020)#tab=summary">Coming 2 America</a></li>
<li><a href="/movie/Croods-A-New-Age-The-(2020)#tab=summary">The Croods: A New Age</a></li>
<li><a href="/movie/Quiet-Place-Part-II-A-(2020)#tab=summary">A Quiet Place: Part II</a></li>
<li><a href="/movie/Batman-The-(2021)#tab=summary">The Batman</a></li>
<li><a href="/movie/Im-Your-Woman-(2020)#tab=summary">Iâm Your Woman</a></li>
<li><a href="/movie/No-Time-to-Die-(2020)#tab=summary">No Time to Die</a></li>
<li><a href="/movie/Free-Guy-(2020)#tab=summary">Free Guy</a></li>
<li><a href="/movie/Witches-The-(2020)#tab=summary">The Witches</a></li>
</ul>
<center>
<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- right panel 2 main -->
<ins class="adsbygoogle" data-ad-client="ca-pub-0505053220181058" data-ad-format="rectangle" data-ad-slot="1574707950" style="display:block"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></center>
<h1><a class="inh1" href="/movies/trending">Trending Movies</a></h1>
<ul>
<li><a href="/movie/Tenet-(2020)#tab=summary">Tenet</a></li>
<li><a href="/movie/Honest-Thief-(2020)#tab=summary">Honest Thief</a></li>
<li><a href="/movie/Avengers-Endgame-(2019)#tab=summary">Avengers: Endgame</a></li>
<li><a href="/movie/Kimetsu-no-Yaiba-(Japan)(2019)#tab=summary">Kimetsu no Yaiba</a></li>
<li><a href="/movie/All-My-Life-(2020)#tab=summary">All My Life</a></li>
<li><a href="/movie/Mulan-(2020)#tab=summary">Mulan</a></li>
<li><a href="/movie/Hubie-Halloween-(2020)#tab=summary">Hubie Halloween</a></li>
<li><a href="/movie/Pirates-of-the-Caribbean-Dead-Mans-Chest#tab=summary">Pirates of the Caribbean: Dead Manâs Chest</a></li>
<li><a href="/movie/War-with-Grandpa-The-(2020)#tab=summary">The War with Grandpa</a></li>
<li><a href="/movie/New-Mutants-The-(2020)#tab=summary">The New Mutants</a></li>
</ul>
<center>
<!-- Insticator API Fire Widget -->
<div id="insticator-container">
<div id="div-insticator-ad-1"></div>
<div id="insticator-embed"></div>
<div id="div-insticator-ad-2"></div>
<script data-cfasync="false" type="text/javascript">
/*<![CDATA[*/Insticator.ad.loadAd("div-insticator-ad-1");Insticator.ad.loadAd("div-insticator-ad-2");Insticator.load("em",{id : "26fd9024-230f-4e85-8bb3-d545d8a710d4"})/*]]>*/
</script>
</div>
<!-- End Insticator API Fire Widget --></center>
<h1><a class="inh1" href="/box-office-star-records/worldwide/lifetime-acting/top-grossing-leading-stars">Top Worldwide Leading Stars</a></h1>
<ul>
<ul style="display: inline-block;font-size: 100%;">
<li><a href="/person/41500401-Jr-Downey-Robert">Robert Downey, Jr.</a></li>

In [53]:
market_share = soup.find('div',id ="page_filling_chart")
market_share # Previewing is optional but can help you verify you are selecting what you think you are

<div id="page_filling_chart">
<p>
<a href="/market">Market Charts</a> &gt; Genres
<iframe frameborder="0" height="360" name="/graphs/market/all-items/genre/genres/7/Genres" scrolling="no" src="/graphs/market/all-items/genre/genres/7/Genres" width="760">You need a Frames Capable browser to view this content.</iframe>
<b>Note:</b> Figures for 2020 are at an annualized rate.
<h1>Market Share for Each Genre 1995-2020</h1>
<center>
<table>
<tr><th>Rank</th><th>Genre</th><th>Movies</th><th>Total Box Office</th><th>Tickets</th><th>Share</th></tr>
<tr>
<td class="data">1</td>
<td><b><a href="/market/genre/Adventure">Adventure</a></b></td>
<td class="data">1,066</td>
<td class="data">$64,001,417,525</td>
<td class="data">9,164,688,017</td>
<td class="data">27.31%</td>
</tr>
<tr>
<td class="data">2</td>
<td><b><a href="/market/genre/Action">Action</a></b></td>
<td class="data">1,044</td>
<td class="data">$47,382,716,974</td>
<td class="data">6,713,382,234</td>
<td class="data">20.22%</td>
</tr>
<tr>
<td class="data">3</td>
<td><b><a href="/market/genre/Drama">Drama</a></b></td>
<td class="data">5,381</td>
<td class="data">$36,553,429,024</td>
<td class="data">5,611,020,993</td>
<td class="data">15.60%</td>
</tr>
<tr>
<td class="data">4</td>
<td><b><a href="/market/genre/Comedy">Comedy</a></b></td>
<td class="data">2,373</td>
<td class="data">$34,518,271,413</td>
<td class="data">5,307,865,492</td>
<td class="data">14.73%</td>
</tr>
<tr>
<td class="data">5</td>
<td><b><a href="/market/genre/Thriller-or-Suspense">Thriller/Suspense</a></b></td>
<td class="data">1,142</td>
<td class="data">$20,012,264,504</td>
<td class="data">2,891,232,957</td>
<td class="data">8.54%</td>
</tr>
<tr>
<td class="data">6</td>
<td><b><a href="/market/genre/Horror">Horror</a></b></td>
<td class="data">639</td>
<td class="data">$12,210,357,337</td>
<td class="data">1,764,481,233</td>
<td class="data">5.21%</td>
</tr>
<tr>
<td class="data">7</td>
<td><b><a href="/market/genre/Romantic-Comedy">Romantic Comedy</a></b></td>
<td class="data">606</td>
<td class="data">$9,992,711,819</td>
<td class="data">1,607,346,807</td>
<td class="data">4.26%</td>
</tr>
<tr>
<td class="data">8</td>
<td><b><a href="/market/genre/Musical">Musical</a></b></td>
<td class="data">189</td>
<td class="data">$4,108,333,804</td>
<td class="data">542,440,825</td>
<td class="data">1.75%</td>
</tr>
<tr>
<td class="data">9</td>
<td><b><a href="/market/genre/Documentary">Documentary</a></b></td>
<td class="data">2,356</td>
<td class="data">$2,241,568,251</td>
<td class="data">336,532,152</td>
<td class="data">0.96%</td>
</tr>
<tr>
<td class="data">10</td>
<td><b><a href="/market/genre/Black-Comedy">Black Comedy</a></b></td>
<td class="data">193</td>
<td class="data">$1,626,100,061</td>
<td class="data">227,572,268</td>
<td class="data">0.69%</td>
</tr>
<tr>
<td class="data">11</td>
<td><b><a href="/market/genre/Western">Western</a></b></td>
<td class="data">84</td>
<td class="data">$1,151,006,490</td>
<td class="data">165,133,802</td>
<td class="data">0.49%</td>
</tr>
<tr>
<td class="data">12</td>
<td><b><a href="/market/genre/Concert-or-Performance">Concert/Performance</a></b></td>
<td class="data">76</td>
<td class="data">$396,337,577</td>
<td class="data">54,011,544</td>
<td class="data">0.17%</td>
</tr>
<tr>
<td class="data">13</td>
<td><b><a href="/market/genre/Multiple-Genres">Multiple Genres</a></b></td>
<td class="data">44</td>
<td class="data">$37,120,606</td>
<td class="data">4,447,815</td>
<td class="data">0.02%</td>
</tr>
<tr>
<td class="data">14</td>
<td><b><a href="/market/genre/Reality">Reality</a></b></td>
<td class="data">4</td>
<td class="data">$621,696</td>
<td class="data">73,810</td>
<td class="data">0.00%</td>
</tr>
</table>
<br/>
</center></p></div>

In [73]:
genres = market_share.findAll('tr')
genres[0]

In [74]:
genres[1].find('a')

In [75]:
genres[1].find('a').text

'Adventure'

In [76]:
final_genres = findAll('tr').text

AttributeError: ResultSet object has no attribute 'text'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [76]:
import pandas as pd
import numpy as np
import datetime
from bs4 import BeautifulSoup
import requests
html_page = requests.get('https://www.the-numbers.com/movies/report/All/All/All/All/All/All/All/All/All/None/None/None/None/None/None/None/None/None/None?show-release-date=On&view-order-by=domestic-box-office&show-release-year=On&view-order-direction=desc&show-domestic-box-office=On&show-international-box-office=On&show-worldwide-box-office=On&show-genre=On') #Make a request to retrieve the page

In [77]:
#This table gives us the release date and genre of the top 100 movies
pd.read_html(html_page.text) 
df=pd.read_html(html_page.text,index_col=0)[0]
df
df['Released'] = pd.to_datetime(df['Released'])
print (df['Released'].dtype)
df['Month'] = df['Released'].dt.month
df=pd.read_html(html_page.text,index_col=0)[0]

datetime64[ns]

In [78]:
df=pd.read_html(html_page.text,index_col=0)[0]
df
df['Released'] = pd.to_datetime(df['Released'])
df['Month'] = df['Released'].dt.month
cols = list(df.columns.values)
print(cols)

['Released', 'Released.1', 'Title', 'Genre', 'DomesticBox Office', 'InternationalBox Office', 'WorldwideBox Office', 'Month']

In [79]:
df = df[['Released', 'Released.1', 'Month', 'Title', 'Genre', 'DomesticBox Office', 'InternationalBox Office', 'WorldwideBox Office']]

In [80]:
df

,Released,Released.1,Month,Title,Genre,DomesticBox Office,InternationalBox Office,WorldwideBox Office
1,2015-12-18,2015,12,Star Wars Ep. VII: The Force Awakens,Adventure,"$936,662,225","$1,128,815,859","$2,065,478,084"
2,2019-04-26,2019,4,Avengers: Endgame,Action,"$858,373,000","$1,939,427,564","$2,797,800,564"
3,2009-12-18,2009,12,Avatar,Action,"$760,507,625","$2,028,193,712","$2,788,701,337"
4,2018-02-16,2018,2,Black Panther,Action,"$700,059,566","$636,487,539","$1,336,547,105"
5,2018-04-27,2018,4,Avengers: Infinity War,Action,"$678,815,482","$1,365,725,041","$2,044,540,523"
...,...,...,...,...,...,...,...,...
96,2007-07-11,2007,7,Harry Potter and the Order of the Pho…,Adventure,"$292,137,260","$649,008,295","$941,145,555"
97,1980-05-21,1980,5,Star Wars Ep. V: The Empire Strikes Back,Adventure,"$291,738,960","$257,286,758","$549,025,718"
98,2005-12-09,2005,12,"The Chronicles of Narnia: The Lion, t…",Adventure,"$291,710,957","$428,828,615","$720,539,572"
99,2013-06-14,2013,6,Man of Steel,Action,"$291,045,518","$376,954,000","$667,999,518"
100,2005-11-18,2005,11,Harry Potter and the Goblet of Fire,Adventure,"$290,201,752","$602,577,319","$892,779,071"

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1 to 100
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Released                 100 non-null    datetime64[ns]
 1   Released.1               100 non-null    int64
 2   Month                    100 non-null    int64
 3   Title                    100 non-null    object
 4   Genre                    100 non-null    object
 5   DomesticBox Office       100 non-null    object
 6   InternationalBox Office  100 non-null    object
 7   WorldwideBox Office      100 non-null    object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 7.0+ KB

In [84]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

In [117]:
#df.groupby('Month')['DomesticBox Office'].sum()
#axis=df[["DomesticBox Office", "Month"]].plot(kind="bar", stacked = False)
#df.groupby([(df.index.year),(df.index.month)]).sum()
df.groupby(['Month']).agg('count')

,Released,Released.1,Title,Genre,DomesticBox Office,InternationalBox Office,WorldwideBox Office
Month,,,,,,,
2,3,3,3,3,3,3,3
3,6,6,6,6,6,6,6
4,4,4,4,4,4,4,4
5,23,23,23,23,23,23,23
6,16,16,16,16,16,16,16
7,17,17,17,17,17,17,17
8,3,3,3,3,3,3,3
9,1,1,1,1,1,1,1
10,1,1,1,1,1,1,1
11,11,11,11,11,11,11,11
12,15,15,15,15,15,15,15

In [120]:
def get_top_movies_per_month(year_list):
        #yearlist = [2020,2019,2040]
        frames = []
        for year in year_list:
            for month in range(1,13):
                url = 'https://www.the-numbers.com/movies/report/All/All/All/All/All/All/All/All/All/None/None/{}/{}/{}/{}/None/None/None/None?show-release-date=On&view-order-by=domestic-box-office&view-order-direction=desc&show-domestic-box-office=On&show-genre=On'.format(year, year, month, month)
                html_page = requests.get(url)
                frames.append(pd.read_html(html_page.text, index_col=0)[0])
        return pd.concat(frames)

In [122]:
year_list = [2020, 2019]
df = get_top_movies_per_month(year_list)
df

         Released                    Title            Genre DomesticBox Office
1    Jan 17, 2020        Bad Boys For Life           Action       $204,417,855
2    Jan 17, 2020                 Dolittle        Adventure        $77,047,065
3    Jan 24, 2020            The Gentlemen           Action        $36,471,796
4    Jan 10, 2020              Like a Boss           Comedy        $22,169,514
5     Jan 3, 2020               The Grudge           Horror        $21,216,148
..            ...                      ...              ...                ...
96   Dec 31, 2019               Jâaccuse            Drama                 $0
97   Dec 31, 2019  Je ne rÃªve que de vous            Drama                 $0
98   Dec 31, 2019    Wo Wei Xiong Di Kuang            Drama                 $0
99   Dec 31, 2019  Justice League Part Two           Action                 $0
100  Dec 31, 2019              Singles Day  Romantic Comedy                 $0

[2347 rows x 4 columns]